.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
    position: relative;
    padding: 1rem;
    
}

.modal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.modal-header {
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: center;
}

.modal-header h3 {
    float: center;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    height: 35px;
    padding: 15px;
}

.modal-footer button {
    position: relative;
    bottom: 2rem;
    float: right;
    text-transform: uppercase;
    outline: 0;
    background: #030056; 
    padding: 0.7rem;
    border: 0;
    color: #4c75c2;  
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.modal-footer button:hover, .modal-footer button:active, .modal-footer button:focus {
    background: #100c88; 
    color: azure;
  }
  



.close-modal-btn {
    cursor: pointer;
    float: right;
    font-size: 1rem;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}


.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
}