.help-selector {
    display: flex;
    align-items: center;
    background: #6acbd5;
    left: 10rem;
    
}

.help-selector div {
    margin-top: -10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 4rem;
}

.help-selector div i {
    color: #030056;
}

.help-selector div i:hover {
    color: white;
}