.nav-bar-one, .nav-bar-two {
    height: 4rem;
    background: #030056; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 0.5rem;
    color: #6acbd5; 
    border-radius: 3px;     
}

.nav-link.logout {
    background: azure;
    color: #6acbd5;
    margin-right: 2rem;
}


.nav-link:hover {
    background: #100c88; 
    color: azure;
}
