.nav-bar-one, .nav-bar-two {
    height: 3rem;
    background: lightskyblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 1rem;
}

.nav-link:hover {
    background: red;
    color: azure;
}

