.main-container {
    display: flex;
    justify-content: space-around;
}

.map-section {
    width: 70%; 
    display: flex;
    flex-direction: column;
}

/* .map-container-parent {

} */

.create-new-broadcast {
    width: 10rem;
    display: block;
    padding: 1rem;
    color: #4c75c2;  
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    margin: 17rem auto 0 auto;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: #030056; 
    outline: 0;
    text-transform: uppercase;
}

.create-new-broadcast::hover {
    background: #100c88; 
    color: azure;
  }

.create-new-broadcast-hide {
    display: none;
}

.map-container {
    height: 400px; 
    max-width: 80%;
    margin-top: 3rem;
    margin: 7rem auto 0 auto;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.broadcast-form-input  {
    min-width: 15rem;
}

.broadcast-form-input input  {
    min-width: 90%;
    margin-bottom: 1rem;
    height: 2.3rem;
    border: 1px #030056 solid; 
    border-radius: 3px;
    margin-top: 0.5rem;
}

  