.broadcast-section {
    position: relative;
    background: #ffffff;  
    width: 25%;
    height: 42rem;
    margin-top: 2rem;
    margin-right: 1rem;
    top: 0;
    border: 0.5px solid rgba(105,105,105, 0.3);
    border-radius: 5px;
}

.broadcast-section h1 {
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: black;
    font-size: 2rem;
}

.broadcast-messages {
    height: 35rem;
    margin: 1rem;
}

.broadcast-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.broadcast-buttons button {
    display: inline-block;
    text-transform: uppercase;
    outline: 0;
    background: #030056; 
    width: 50%;
    border: 0;
    padding: 15px;
    color: #6acbd5;  
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    
}

.broadcast-buttons .save  {
    border: 0;
    border-bottom-left-radius: 5px;
}

.broadcast-buttons .cancel {
    border: 0;
    border-bottom-right-radius: 5px;
}


.broadcast-section button:hover, .broadcast-section button:active, .broadcast-section button:focus {
    background: #100c88; 
    color: azure;
}


