
body {
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Rubik', sans-serif;
}

.main {
  /* max-height: 40rem; */
  /* min-height: 50rem; */
  background: #e9ebee;
}

.landing-nav {
  z-index: 1
}

.videoTag {  
  width: 100%;
  height: 100%;
  /* background-size: cover;
  background-position: center; */
}

#video-box {
  position: relative;
}

#video_overlays {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.banner-text-overlay {
  display: flex;
  position: absolute;
  z-index: 3;
  color: white;
  align-items: center;
}

.banner-text {
  margin-top: 8rem;
  margin-left: 5rem;
}

.banner-text h1 {
  font-size: 5rem;
  line-height: 5rem;
}

.banner-text h1 span {
  color: #6acbd5; 
}

.banner-text p {
  font-size: 1.5rem;
  color: #6acbd5; 
  text-shadow: 2px 2px 4px #000000;
  /* line-height: 2rem; */
}

footer .copyright {
  padding-top: 1rem;
  height: 5rem;
  background: #030056;
  color: white;
  margin-top: -0.4rem;;
}

.copyright span {
  margin-left: 1rem;
  margin-top: 1rem;
}